*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



.weather-container{
    width: 90%;
    max-width: 470px;
    /* understanding , width is set to 90%  when child width is 90% of parent width  and  less than 470px 
    but if exceeds 470px it remans 470px even if parent width will increase */
    background-image: linear-gradient(135deg, #00feba, #5b538a);
    text-align: center;
    color: #ffffff;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 6px;

}
.search{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

}
.search input{
    padding: 15px 25px;
    border-radius: 30px;
    outline: 0;
    border: 0;
    font-size: 14px;
    background: #ffffff;
    margin-left: 20px;
    height: 25px;
    flex: 1;
}
.search-button {
    display: inline-block;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #5b538a;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #4a436f;
}
.search button img{
    width: 16px;
    height: 16px;
}
.weather-details{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.humidty,.wind{
    display: flex;
    gap: 10px;
    align-items: center;
}
.humidty div,.wind div{
    display: flex;
    flex-direction: column-reverse;
    gap: px;

}
.humidty div .humi-value,.wind div .wind-value{
    font-size: 30px;
}
.humidty div .humi-text{
    font-size: 20px;
}
.icon-container{
    display: none;
}
 .error{
    display: none;
    margin-top: 30px;
    color: red;
}